.image-style{
    height: 150px;
    width: 150px;
    border: 10px solid rgb(65, 62, 62);
    border-radius: 75px;
    
}

.text-tes{
    padding: 50px;
    color: blanchedalmond;
    font-weight: 300;
    font-style: italic;
    font-size: large;
}
.title-here{
    color:black;
    font-weight: 500;
    
}